[mysqld]
innodb_buffer_pool_size = "{{ db_memory }}"
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# 文字コード
character-set-server = utf8
# パスワード有効期限を無効。デフォルトだと365日で切れてログインできなくなる
default_password_lifetime = 0
# log出力タイムスタンプをJST。デフォルトだとUTC
log_timestamps=system
# スロークエリログの設定
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow_query.log
long_query_time=1
min_examined_row_limit=1000

[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d