# {{ ansible_managed }}

    <VirtualHost *:80>
            ServerName {{ ansible_eth0.ipv4.address }}
            DocumentRoot {{ document_root_local_dev }}
            <Directory {{ document_root_local_dev }}>
                    Options All
                    Allow from All
                    AllowOverride All
            </Directory>
    </VirtualHost>

    <VirtualHost *:443>
            ServerName {{ ansible_eth0.ipv4.address }}
            DocumentRoot {{ document_root_local_dev }}
            <Directory {{ document_root_local_dev }}>
                    Options All
                    Allow from All
                    AllowOverride All
            </Directory>
            SSLEngine on
            SSLCipherSuite {{ apache_ssl_cipher_suite }}
            SSLProtocol {{ apache_ssl_protocol }}
            SSLHonorCipherOrder On
            SSLCertificateFile {{ apache_ssl_certificate_file }}
            SSLCertificateKeyFile {{ apache_ssl_certificate_key_file }}
            ErrorLog {{ apache_ssl_error_log }}
            CustomLog {{ apache_ssl_access_log }} combined
            AddDefaultCharset UTF-8
    </VirtualHost>
