# {{ ansible_managed }}

    <VirtualHost *:80>
            ServerName {{ ansible_eth0.ipv4.address }}
            DocumentRoot {{ document_root_local_dev }}
            <Directory {{ document_root_local_dev }}>
                    Options All
                    Allow from All
                    AllowOverride All
            </Directory>
    </VirtualHost>

    <VirtualHost *:443>
            ServerName {{ ansible_eth0.ipv4.address }}
            DocumentRoot {{ document_root_local_dev }}
            <Directory {{ document_root_local_dev }}>
                    Options All
                    Allow from All
                    AllowOverride All
            </Directory>
            SSLEngine on
            SSLCipherSuite {{ ssl_cipher_suite }}
            SSLProtocol {{ ssl_protocol }}
            SSLHonorCipherOrder On
            SSLCertificateFile {{ ssl_crt_local_dev }}
            SSLCertificateKeyFile {{ ssl_key_local_dev }}
            ErrorLog {{ ssl_error_log_local_dev }}
            CustomLog {{ ssl_access_log_local_dev }} combined
            AddDefaultCharset UTF-8
    </VirtualHost>
